# Pandas Assignment

In [1]:
import pandas as pd

### Task 1:Load the dataset

In [2]:
df=pd.read_csv(r'messed_dataset.csv')
df

df.head(6)

,Name,Age,Email,Country,Salary,DateOfJoining
0,invalid,59.0,ycastro@example.org,Switzerland,44694.24,2022-09-29
1,David Jefferson,21.0,NaN,China,NaN,2021-10-04
2,Jessica Reyes,34.0,NaN,NaN,60511.62,2022-05-24
3,Kenneth Macdonald,68.0,ewolf@example.com,Italy,84223.29,2022-04-07
4,Julie Horne,78.0,NaN,Ecuador,24665.13,2020-06-19
5,Jonathan Holland,26.0,mayercaitlin@example.org,Cameroon,25660.99,2023-05-01

### Task 2: Basic Data Cleaning

- Identifying the missing data

In [3]:
df.isnull().sum()

Name             11
Age               3
Email            20
Country          14
Salary            6
DateOfJoining    21
dtype: int64

- Dropping the row with missing values

In [4]:
df.dropna(inplace=True)

df

,Name,Age,Email,Country,Salary,DateOfJoining
0,invalid,59.0,ycastro@example.org,Switzerland,44694.24,2022-09-29
3,Kenneth Macdonald,68.0,ewolf@example.com,Italy,84223.29,2022-04-07
5,Jonathan Holland,26.0,mayercaitlin@example.org,Cameroon,25660.99,2023-05-01
7,Kimberly Roberts,76.0,lmiller@example.org,Netherlands,58550.56,2023-07-08
9,Jason Perez,59.0,collinsedward@example.com,Myanmar,20175.11,2024-04-11
10,Olivia Strong,76.0,schultzpatricia@example.com,South Africa,72362.02,2023-07-27
13,Jessica Rivera,73.0,fmitchell@example.net,Central African Republic,71261.36,2021-05-18
15,Lauren Becker,30.0,watsonjeffrey@example.net,Malta,invalid,2020-01-13
20,Dylan Simpson,46.0,jessica74@example.net,Serbia,59670.5,2021-10-31
23,Karen Ward,56.0,daniel47@example.com,Congo,83580.8,2022-04-09
24,Amy Henson,80.0,tylerwatts@example.org,Bosnia and Herzegovina,35390.77,2023-12-11
28,Ricardo Moody,76.0,xmorales@example.net,Bahrain,83514.58,2024-03-29
29,Stephanie Moss,61.0,qvaughan@example.com,Guernsey,35671.38,2021-11-22
35,Rebecca Davis,35.0,wallacejennifer@example.net,Sri Lanka,66871.64,2022-08-06
36,Keith Velazquez,22.0,charles82@example.net,Burkina Faso,81661.97,2024-03-27
37,Christopher Martin,40.0,tina11@example.com,Netherlands Antilles,81367.57,2020-07-30
40,invalid,64.0,mjackson@example.org,British Indian Ocean Territory (Chagos Archipe...,25219.6,2024-02-14
43,James Davis,invalid,teresa22@example.com,Mauritius,54801.7,2021-07-15
44,Brandi White,35.0,mhall@example.net,Tanzania,21408.87,2020-11-26
49,Amber Mendoza,64.0,qrobinson@example.com,Uganda,47293.85,2021-05-27
51,Whitney Graham,40.0,zrodriguez@example.org,Mozambique,98826.59,2023-05-08
52,Patrick Brown PhD,44.0,james16@example.net,Greece,83842.6,2020-07-12
58,Dr. Olivia Caldwell MD,76.0,hernandezjason@example.com,Philippines,78453.84,2023-07-19
59,Diane Smith,57.0,david44@example.net,Saint Barthelemy,86579.95,2020-07-27
60,Thomas Navarro,50.0,psnyder@example.org,Turks and Caicos Islands,86286.69,2020-11-03
61,Terri Phillips,27.0,garyanderson@example.net,Cambodia,47755.97,invalid
64,Andrew Bryant,43.0,jacobtorres@example.com,Colombia,32205.53,2020-10-26
68,Justin Wright,29.0,elizabethreid@example.org,Timor-Leste,28951.24,2020-02-21
69,Michael Oconnell,19.0,fdelacruz@example.org,Grenada,62929.05,2022-01-21
70,Christina Garcia,40.0,kathryn18@example.org,invalid,73916.51,2023-11-13
72,Morgan Brown,79.0,wsmith@example.org,Cape Verde,28583.22,2021-03-12
73,Mitchell Smith,32.0,spierce@example.com,Armenia,57795.75,2021-04-19
74,Whitney Garcia,70.0,tylergolden@example.com,Netherlands Antilles,68794.39,2022-07-23
78,Tabitha Delgado,74.0,lancewilliams@example.net,Sudan,98396.21,2022-04-03
80,David Walker,43.0,linda84@example.net,Guinea-Bissau,89683.17,2021-06-20
81,Brandi Long,45.0,vford@example.com,Ecuador,30773.53,2020-06-29
82,Kristi Calderon,80.0,sharon04@example.com,Iceland,99507.66,2022-07-09
83,Kendra Mason,47.0,megancarter@example.com,Moldova,34369.87,2023-07-09
84,Debbie Romero,58.0,nathaniel61@example.net,Reunion,39875.14,2023-02-11
85,Elizabeth Wilkinson,66.0,gailmcdonald@example.org,Turkmenistan,69624.01,2023-05-19
86,David Randall,74.0,cody30@example.net,Niue,43013.14,2024-05-24
87,Nancy Irwin,42.0,juliaweaver@example.net,Czech Republic,29455.0,2020-07-21
88,Joel Martin,76.0,bjacobson@example.com,Korea,invalid,2022-05-23
89,Lauren Jones,68.0,melissadyer@example.com,Malawi,42435.96,2020-06-12
91,Ryan Middleton,42.0,mcconnellashley@example.net,Bahamas,78048.75,2021-04-05
92,Seth Bradley,76.0,melissakim@example.org,Slovakia (Slovak Republic),49354.13,2021-08-01
93,Alicia Miller,59.0,thomas45@example.net,Mauritania,52834.29,2020-06-03
94,Cody Jackson,48.0,jamieayers@example.net,Luxembourg,55583.62,2021-05-23
96,Elizabeth Ross,52.0,richardlewis@example.net,Equatorial Guinea,29992.69,2020-04-08
98,Patricia Singh,65.0,lramirez@example.org,Greece,85290.44,2020-03-18

In [7]:
#Renaming of column name DateOfJoining to Joining_Date
df.rename(columns={'DateOfJoining':'Joining_Date'},inplace=True)

df

,Name,Age,Email,Country,Salary,Joining_Date
0,invalid,59.0,ycastro@example.org,Switzerland,44694.24,2022-09-29
3,Kenneth Macdonald,68.0,ewolf@example.com,Italy,84223.29,2022-04-07
5,Jonathan Holland,26.0,mayercaitlin@example.org,Cameroon,25660.99,2023-05-01
7,Kimberly Roberts,76.0,lmiller@example.org,Netherlands,58550.56,2023-07-08
9,Jason Perez,59.0,collinsedward@example.com,Myanmar,20175.11,2024-04-11
10,Olivia Strong,76.0,schultzpatricia@example.com,South Africa,72362.02,2023-07-27
13,Jessica Rivera,73.0,fmitchell@example.net,Central African Republic,71261.36,2021-05-18
15,Lauren Becker,30.0,watsonjeffrey@example.net,Malta,invalid,2020-01-13
20,Dylan Simpson,46.0,jessica74@example.net,Serbia,59670.5,2021-10-31
23,Karen Ward,56.0,daniel47@example.com,Congo,83580.8,2022-04-09
24,Amy Henson,80.0,tylerwatts@example.org,Bosnia and Herzegovina,35390.77,2023-12-11
28,Ricardo Moody,76.0,xmorales@example.net,Bahrain,83514.58,2024-03-29
29,Stephanie Moss,61.0,qvaughan@example.com,Guernsey,35671.38,2021-11-22
35,Rebecca Davis,35.0,wallacejennifer@example.net,Sri Lanka,66871.64,2022-08-06
36,Keith Velazquez,22.0,charles82@example.net,Burkina Faso,81661.97,2024-03-27
37,Christopher Martin,40.0,tina11@example.com,Netherlands Antilles,81367.57,2020-07-30
40,invalid,64.0,mjackson@example.org,British Indian Ocean Territory (Chagos Archipe...,25219.6,2024-02-14
43,James Davis,invalid,teresa22@example.com,Mauritius,54801.7,2021-07-15
44,Brandi White,35.0,mhall@example.net,Tanzania,21408.87,2020-11-26
49,Amber Mendoza,64.0,qrobinson@example.com,Uganda,47293.85,2021-05-27
51,Whitney Graham,40.0,zrodriguez@example.org,Mozambique,98826.59,2023-05-08
52,Patrick Brown PhD,44.0,james16@example.net,Greece,83842.6,2020-07-12
58,Dr. Olivia Caldwell MD,76.0,hernandezjason@example.com,Philippines,78453.84,2023-07-19
59,Diane Smith,57.0,david44@example.net,Saint Barthelemy,86579.95,2020-07-27
60,Thomas Navarro,50.0,psnyder@example.org,Turks and Caicos Islands,86286.69,2020-11-03
61,Terri Phillips,27.0,garyanderson@example.net,Cambodia,47755.97,invalid
64,Andrew Bryant,43.0,jacobtorres@example.com,Colombia,32205.53,2020-10-26
68,Justin Wright,29.0,elizabethreid@example.org,Timor-Leste,28951.24,2020-02-21
69,Michael Oconnell,19.0,fdelacruz@example.org,Grenada,62929.05,2022-01-21
70,Christina Garcia,40.0,kathryn18@example.org,invalid,73916.51,2023-11-13
72,Morgan Brown,79.0,wsmith@example.org,Cape Verde,28583.22,2021-03-12
73,Mitchell Smith,32.0,spierce@example.com,Armenia,57795.75,2021-04-19
74,Whitney Garcia,70.0,tylergolden@example.com,Netherlands Antilles,68794.39,2022-07-23
78,Tabitha Delgado,74.0,lancewilliams@example.net,Sudan,98396.21,2022-04-03
80,David Walker,43.0,linda84@example.net,Guinea-Bissau,89683.17,2021-06-20
81,Brandi Long,45.0,vford@example.com,Ecuador,30773.53,2020-06-29
82,Kristi Calderon,80.0,sharon04@example.com,Iceland,99507.66,2022-07-09
83,Kendra Mason,47.0,megancarter@example.com,Moldova,34369.87,2023-07-09
84,Debbie Romero,58.0,nathaniel61@example.net,Reunion,39875.14,2023-02-11
85,Elizabeth Wilkinson,66.0,gailmcdonald@example.org,Turkmenistan,69624.01,2023-05-19
86,David Randall,74.0,cody30@example.net,Niue,43013.14,2024-05-24
87,Nancy Irwin,42.0,juliaweaver@example.net,Czech Republic,29455.0,2020-07-21
88,Joel Martin,76.0,bjacobson@example.com,Korea,invalid,2022-05-23
89,Lauren Jones,68.0,melissadyer@example.com,Malawi,42435.96,2020-06-12
91,Ryan Middleton,42.0,mcconnellashley@example.net,Bahamas,78048.75,2021-04-05
92,Seth Bradley,76.0,melissakim@example.org,Slovakia (Slovak Republic),49354.13,2021-08-01
93,Alicia Miller,59.0,thomas45@example.net,Mauritania,52834.29,2020-06-03
94,Cody Jackson,48.0,jamieayers@example.net,Luxembourg,55583.62,2021-05-23
96,Elizabeth Ross,52.0,richardlewis@example.net,Equatorial Guinea,29992.69,2020-04-08
98,Patricia Singh,65.0,lramirez@example.org,Greece,85290.44,2020-03-18

#### Task 3: Data Analysis

- Data Analysis. Analyse the data by giving the summary statistics, and more information about the data

In [5]:
# identifying the missing data
df.isnull().sum()

Name             0
Age              0
Email            0
Country          0
Salary           0
DateOfJoining    0
dtype: int64

In [6]:
# datatypes identification

df.dtypes

Name             object
Age              object
Email            object
Country          object
Salary           object
DateOfJoining    object
dtype: object

In [8]:
# DataFrame all informatiom
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 98
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          50 non-null     object
 1   Age           50 non-null     object
 2   Email         50 non-null     object
 3   Country       50 non-null     object
 4   Salary        50 non-null     object
 5   Joining_Date  50 non-null     object
dtypes: object(6)
memory usage: 2.7+ KB

In [9]:
# describing the summary statistics of the data
df.describe()

           Name   Age                Email Country   Salary Joining_Date
count        50    50                   50      50       50           50
unique       49    34                   50      48       49           50
top     invalid  76.0  ycastro@example.org  Greece  invalid   2022-09-29
freq          2     6                    1       2        2            1

In [18]:
import numpy as np
# replacing 'invalid' to 'NaN'
df['Salary'].replace('invalid',0,inplace=True)
df['Salary']=pd.to_numeric(df['Salary'], errors='coerce')
df['Salary'].dtypes

dtype('float64')

### Data Visualization

In [19]:
# Groupby Operation
# Calculating the mean salary based on country
salary_based_on_country=df.groupby('Country')['Salary'].mean().reset_index()
print("Average Salary Based on Country:\n",salary_based_on_country)

Average Salary Based on Country:
                                               Country    Salary
0                                             Armenia  57795.75
1                                             Bahamas  78048.75
2                                             Bahrain  83514.58
3                              Bosnia and Herzegovina  35390.77
4   British Indian Ocean Territory (Chagos Archipe...  25219.60
5                                        Burkina Faso  81661.97
6                                            Cambodia  47755.97
7                                            Cameroon  25660.99
8                                          Cape Verde  28583.22
9                            Central African Republic  71261.36
10                                           Colombia  32205.53
11                                              Congo  83580.80
12                                     Czech Republic  29455.00
13                                            Ecuador  30773.53
14                                  Equatorial Guinea  29992.69
15                                             Greece  84566.52
16                                            Grenada  62929.05
17                                           Guernsey  35671.38
18                                      Guinea-Bissau  89683.17
19                                            Iceland  99507.66
20                                              Italy  84223.29
21                                              Korea      0.00
22                                         Luxembourg  55583.62
23                                             Malawi  42435.96
24                                              Malta      0.00
25                                         Mauritania  52834.29
26                                          Mauritius  54801.70
27                                            Moldova  34369.87
28                                         Mozambique  98826.59
29                                            Myanmar  20175.11
30                                        Netherlands  58550.56
31                               Netherlands Antilles  75080.98
32                                               Niue  43013.14
33                                        Philippines  78453.84
34                                            Reunion  39875.14
35                                   Saint Barthelemy  86579.95
36                                             Serbia  59670.50
37                         Slovakia (Slovak Republic)  49354.13
38                                       South Africa  72362.02
39                                          Sri Lanka  66871.64
40                                              Sudan  98396.21
41                                        Switzerland  44694.24
42                                           Tanzania  21408.87
43                                        Timor-Leste  28951.24
44                                       Turkmenistan  69624.01
45                           Turks and Caicos Islands  86286.69
46                                             Uganda  47293.85
47                                            invalid  73916.51

In [31]:
# Converting the Joining_Date to datetime

# Some of the row value of Joining_Date is invalid. So replace it 
df['Joining_Date'].replace('invalid','2022-01-01',inplace=True)
df['Joining_Date']=pd.to_datetime(df['Joining_Date'],errors='coerce')
df['Joining_Date']


# Extracting year,months and day from data
df['Year']=df['Joining_Date'].dt.year
df['Months']=df['Joining_Date'].dt.month
df['Day']=df['Joining_Date'].dt.day

df

,Name,Age,Email,Country,Salary,Joining_Date,Year,Months,Day
0,invalid,59.0,ycastro@example.org,Switzerland,44694.24,2022-09-29,2022,9,29
3,Kenneth Macdonald,68.0,ewolf@example.com,Italy,84223.29,2022-04-07,2022,4,7
5,Jonathan Holland,26.0,mayercaitlin@example.org,Cameroon,25660.99,2023-05-01,2023,5,1
7,Kimberly Roberts,76.0,lmiller@example.org,Netherlands,58550.56,2023-07-08,2023,7,8
9,Jason Perez,59.0,collinsedward@example.com,Myanmar,20175.11,2024-04-11,2024,4,11
10,Olivia Strong,76.0,schultzpatricia@example.com,South Africa,72362.02,2023-07-27,2023,7,27
13,Jessica Rivera,73.0,fmitchell@example.net,Central African Republic,71261.36,2021-05-18,2021,5,18
15,Lauren Becker,30.0,watsonjeffrey@example.net,Malta,0.00,2020-01-13,2020,1,13
20,Dylan Simpson,46.0,jessica74@example.net,Serbia,59670.50,2021-10-31,2021,10,31
23,Karen Ward,56.0,daniel47@example.com,Congo,83580.80,2022-04-09,2022,4,9
24,Amy Henson,80.0,tylerwatts@example.org,Bosnia and Herzegovina,35390.77,2023-12-11,2023,12,11
28,Ricardo Moody,76.0,xmorales@example.net,Bahrain,83514.58,2024-03-29,2024,3,29
29,Stephanie Moss,61.0,qvaughan@example.com,Guernsey,35671.38,2021-11-22,2021,11,22
35,Rebecca Davis,35.0,wallacejennifer@example.net,Sri Lanka,66871.64,2022-08-06,2022,8,6
36,Keith Velazquez,22.0,charles82@example.net,Burkina Faso,81661.97,2024-03-27,2024,3,27
37,Christopher Martin,40.0,tina11@example.com,Netherlands Antilles,81367.57,2020-07-30,2020,7,30
40,invalid,64.0,mjackson@example.org,British Indian Ocean Territory (Chagos Archipe...,25219.60,2024-02-14,2024,2,14
43,James Davis,invalid,teresa22@example.com,Mauritius,54801.70,2021-07-15,2021,7,15
44,Brandi White,35.0,mhall@example.net,Tanzania,21408.87,2020-11-26,2020,11,26
49,Amber Mendoza,64.0,qrobinson@example.com,Uganda,47293.85,2021-05-27,2021,5,27
51,Whitney Graham,40.0,zrodriguez@example.org,Mozambique,98826.59,2023-05-08,2023,5,8
52,Patrick Brown PhD,44.0,james16@example.net,Greece,83842.60,2020-07-12,2020,7,12
58,Dr. Olivia Caldwell MD,76.0,hernandezjason@example.com,Philippines,78453.84,2023-07-19,2023,7,19
59,Diane Smith,57.0,david44@example.net,Saint Barthelemy,86579.95,2020-07-27,2020,7,27
60,Thomas Navarro,50.0,psnyder@example.org,Turks and Caicos Islands,86286.69,2020-11-03,2020,11,3
61,Terri Phillips,27.0,garyanderson@example.net,Cambodia,47755.97,2022-01-01,2022,1,1
64,Andrew Bryant,43.0,jacobtorres@example.com,Colombia,32205.53,2020-10-26,2020,10,26
68,Justin Wright,29.0,elizabethreid@example.org,Timor-Leste,28951.24,2020-02-21,2020,2,21
69,Michael Oconnell,19.0,fdelacruz@example.org,Grenada,62929.05,2022-01-21,2022,1,21
70,Christina Garcia,40.0,kathryn18@example.org,invalid,73916.51,2023-11-13,2023,11,13
72,Morgan Brown,79.0,wsmith@example.org,Cape Verde,28583.22,2021-03-12,2021,3,12
73,Mitchell Smith,32.0,spierce@example.com,Armenia,57795.75,2021-04-19,2021,4,19
74,Whitney Garcia,70.0,tylergolden@example.com,Netherlands Antilles,68794.39,2022-07-23,2022,7,23
78,Tabitha Delgado,74.0,lancewilliams@example.net,Sudan,98396.21,2022-04-03,2022,4,3
80,David Walker,43.0,linda84@example.net,Guinea-Bissau,89683.17,2021-06-20,2021,6,20
81,Brandi Long,45.0,vford@example.com,Ecuador,30773.53,2020-06-29,2020,6,29
82,Kristi Calderon,80.0,sharon04@example.com,Iceland,99507.66,2022-07-09,2022,7,9
83,Kendra Mason,47.0,megancarter@example.com,Moldova,34369.87,2023-07-09,2023,7,9
84,Debbie Romero,58.0,nathaniel61@example.net,Reunion,39875.14,2023-02-11,2023,2,11
85,Elizabeth Wilkinson,66.0,gailmcdonald@example.org,Turkmenistan,69624.01,2023-05-19,2023,5,19
86,David Randall,74.0,cody30@example.net,Niue,43013.14,2024-05-24,2024,5,24
87,Nancy Irwin,42.0,juliaweaver@example.net,Czech Republic,29455.00,2020-07-21,2020,7,21
88,Joel Martin,76.0,bjacobson@example.com,Korea,0.00,2022-05-23,2022,5,23
89,Lauren Jones,68.0,melissadyer@example.com,Malawi,42435.96,2020-06-12,2020,6,12
91,Ryan Middleton,42.0,mcconnellashley@example.net,Bahamas,78048.75,2021-04-05,2021,4,5
92,Seth Bradley,76.0,melissakim@example.org,Slovakia (Slovak Republic),49354.13,2021-08-01,2021,8,1
93,Alicia Miller,59.0,thomas45@example.net,Mauritania,52834.29,2020-06-03,2020,6,3
94,Cody Jackson,48.0,jamieayers@example.net,Luxembourg,55583.62,2021-05-23,2021,5,23
96,Elizabeth Ross,52.0,richardlewis@example.net,Equatorial Guinea,29992.69,2020-04-08,2020,4,8
98,Patricia Singh,65.0,lramirez@example.org,Greece,85290.44,2020-03-18,2020,3,18

In [35]:
# Calculating the days since joining of the employee
df['Days_Since_Joining']=(pd.Timestamp('2024-05-07')- df['Joining_Date']).dt.days
df

,Name,Age,Email,Country,Salary,Joining_Date,Year,Months,Day,Days_Since_Joining
0,invalid,59.0,ycastro@example.org,Switzerland,44694.24,2022-09-29,2022,9,29,586
3,Kenneth Macdonald,68.0,ewolf@example.com,Italy,84223.29,2022-04-07,2022,4,7,761
5,Jonathan Holland,26.0,mayercaitlin@example.org,Cameroon,25660.99,2023-05-01,2023,5,1,372
7,Kimberly Roberts,76.0,lmiller@example.org,Netherlands,58550.56,2023-07-08,2023,7,8,304
9,Jason Perez,59.0,collinsedward@example.com,Myanmar,20175.11,2024-04-11,2024,4,11,26
10,Olivia Strong,76.0,schultzpatricia@example.com,South Africa,72362.02,2023-07-27,2023,7,27,285
13,Jessica Rivera,73.0,fmitchell@example.net,Central African Republic,71261.36,2021-05-18,2021,5,18,1085
15,Lauren Becker,30.0,watsonjeffrey@example.net,Malta,0.00,2020-01-13,2020,1,13,1576
20,Dylan Simpson,46.0,jessica74@example.net,Serbia,59670.50,2021-10-31,2021,10,31,919
23,Karen Ward,56.0,daniel47@example.com,Congo,83580.80,2022-04-09,2022,4,9,759
24,Amy Henson,80.0,tylerwatts@example.org,Bosnia and Herzegovina,35390.77,2023-12-11,2023,12,11,148
28,Ricardo Moody,76.0,xmorales@example.net,Bahrain,83514.58,2024-03-29,2024,3,29,39
29,Stephanie Moss,61.0,qvaughan@example.com,Guernsey,35671.38,2021-11-22,2021,11,22,897
35,Rebecca Davis,35.0,wallacejennifer@example.net,Sri Lanka,66871.64,2022-08-06,2022,8,6,640
36,Keith Velazquez,22.0,charles82@example.net,Burkina Faso,81661.97,2024-03-27,2024,3,27,41
37,Christopher Martin,40.0,tina11@example.com,Netherlands Antilles,81367.57,2020-07-30,2020,7,30,1377
40,invalid,64.0,mjackson@example.org,British Indian Ocean Territory (Chagos Archipe...,25219.60,2024-02-14,2024,2,14,83
43,James Davis,invalid,teresa22@example.com,Mauritius,54801.70,2021-07-15,2021,7,15,1027
44,Brandi White,35.0,mhall@example.net,Tanzania,21408.87,2020-11-26,2020,11,26,1258
49,Amber Mendoza,64.0,qrobinson@example.com,Uganda,47293.85,2021-05-27,2021,5,27,1076
51,Whitney Graham,40.0,zrodriguez@example.org,Mozambique,98826.59,2023-05-08,2023,5,8,365
52,Patrick Brown PhD,44.0,james16@example.net,Greece,83842.60,2020-07-12,2020,7,12,1395
58,Dr. Olivia Caldwell MD,76.0,hernandezjason@example.com,Philippines,78453.84,2023-07-19,2023,7,19,293
59,Diane Smith,57.0,david44@example.net,Saint Barthelemy,86579.95,2020-07-27,2020,7,27,1380
60,Thomas Navarro,50.0,psnyder@example.org,Turks and Caicos Islands,86286.69,2020-11-03,2020,11,3,1281
61,Terri Phillips,27.0,garyanderson@example.net,Cambodia,47755.97,2022-01-01,2022,1,1,857
64,Andrew Bryant,43.0,jacobtorres@example.com,Colombia,32205.53,2020-10-26,2020,10,26,1289
68,Justin Wright,29.0,elizabethreid@example.org,Timor-Leste,28951.24,2020-02-21,2020,2,21,1537
69,Michael Oconnell,19.0,fdelacruz@example.org,Grenada,62929.05,2022-01-21,2022,1,21,837
70,Christina Garcia,40.0,kathryn18@example.org,invalid,73916.51,2023-11-13,2023,11,13,176
72,Morgan Brown,79.0,wsmith@example.org,Cape Verde,28583.22,2021-03-12,2021,3,12,1152
73,Mitchell Smith,32.0,spierce@example.com,Armenia,57795.75,2021-04-19,2021,4,19,1114
74,Whitney Garcia,70.0,tylergolden@example.com,Netherlands Antilles,68794.39,2022-07-23,2022,7,23,654
78,Tabitha Delgado,74.0,lancewilliams@example.net,Sudan,98396.21,2022-04-03,2022,4,3,765
80,David Walker,43.0,linda84@example.net,Guinea-Bissau,89683.17,2021-06-20,2021,6,20,1052
81,Brandi Long,45.0,vford@example.com,Ecuador,30773.53,2020-06-29,2020,6,29,1408
82,Kristi Calderon,80.0,sharon04@example.com,Iceland,99507.66,2022-07-09,2022,7,9,668
83,Kendra Mason,47.0,megancarter@example.com,Moldova,34369.87,2023-07-09,2023,7,9,303
84,Debbie Romero,58.0,nathaniel61@example.net,Reunion,39875.14,2023-02-11,2023,2,11,451
85,Elizabeth Wilkinson,66.0,gailmcdonald@example.org,Turkmenistan,69624.01,2023-05-19,2023,5,19,354
86,David Randall,74.0,cody30@example.net,Niue,43013.14,2024-05-24,2024,5,24,-17
87,Nancy Irwin,42.0,juliaweaver@example.net,Czech Republic,29455.00,2020-07-21,2020,7,21,1386
88,Joel Martin,76.0,bjacobson@example.com,Korea,0.00,2022-05-23,2022,5,23,715
89,Lauren Jones,68.0,melissadyer@example.com,Malawi,42435.96,2020-06-12,2020,6,12,1425
91,Ryan Middleton,42.0,mcconnellashley@example.net,Bahamas,78048.75,2021-04-05,2021,4,5,1128
92,Seth Bradley,76.0,melissakim@example.org,Slovakia (Slovak Republic),49354.13,2021-08-01,2021,8,1,1010
93,Alicia Miller,59.0,thomas45@example.net,Mauritania,52834.29,2020-06-03,2020,6,3,1434
94,Cody Jackson,48.0,jamieayers@example.net,Luxembourg,55583.62,2021-05-23,2021,5,23,1080
96,Elizabeth Ross,52.0,richardlewis@example.net,Equatorial Guinea,29992.69,2020-04-08,2020,4,8,1490
98,Patricia Singh,65.0,lramirez@example.org,Greece,85290.44,2020-03-18,2020,3,18,1511

#### Selection and Indexing

In [38]:
# Select the column

print('Country Column:\n',df['Country'])

# Selecting multiple column
print('Name and Email column:\n',df[['Name','Email']])

Country Column:
 0                                           Switzerland
3                                                 Italy
5                                              Cameroon
7                                           Netherlands
9                                               Myanmar
10                                         South Africa
13                             Central African Republic
15                                                Malta
20                                               Serbia
23                                                Congo
24                               Bosnia and Herzegovina
28                                              Bahrain
29                                             Guernsey
35                                            Sri Lanka
36                                         Burkina Faso
37                                 Netherlands Antilles
40    British Indian Ocean Territory (Chagos Archipe...
43                                            Mauritius
44                                             Tanzania
49                                               Uganda
51                                           Mozambique
52                                               Greece
58                                          Philippines
59                                     Saint Barthelemy
60                             Turks and Caicos Islands
61                                             Cambodia
64                                             Colombia
68                                          Timor-Leste
69                                              Grenada
70                                              invalid
72                                           Cape Verde
73                                              Armenia
74                                 Netherlands Antilles
78                                                Sudan
80                                        Guinea-Bissau
81                                              Ecuador
82                                              Iceland
83                                              Moldova
84                                              Reunion
85                                         Turkmenistan
86                                                 Niue
87                                       Czech Republic
88                                                Korea
89                                               Malawi
91                                              Bahamas
92                           Slovakia (Slovak Republic)
93                                           Mauritania
94                                           Luxembourg
96                                    Equatorial Guinea
98                                               Greece
Name: Country, dtype: object
Name and Email column:
                       Name                        Email
0                  invalid          ycastro@example.org
3        Kenneth Macdonald            ewolf@example.com
5         Jonathan Holland     mayercaitlin@example.org
7         Kimberly Roberts          lmiller@example.org
9              Jason Perez    collinsedward@example.com
10           Olivia Strong  schultzpatricia@example.com
13          Jessica Rivera        fmitchell@example.net
15           Lauren Becker    watsonjeffrey@example.net
20           Dylan Simpson        jessica74@example.net
23              Karen Ward         daniel47@example.com
24              Amy Henson       tylerwatts@example.org
28           Ricardo Moody         xmorales@example.net
29          Stephanie Moss         qvaughan@example.com
35           Rebecca Davis  wallacejennifer@example.net
36         Keith Velazquez        charles82@example.net
37      Christopher Martin           tina11@example.com
40                 invalid         mjackson@example.org
43             James Davis         teresa22@example.com
44            Brandi White            mhall@example.net
49           Amber Mendoza        qrobinson@example.com
51          Whitney Graham       zrodriguez@example.org
52       Patrick Brown PhD          james16@example.net
58  Dr. Olivia Caldwell MD   hernandezjason@example.com
59             Diane Smith          david44@example.net
60          Thomas Navarro          psnyder@example.org
61          Terri Phillips     garyanderson@example.net
64           Andrew Bryant      jacobtorres@example.com
68           Justin Wright    elizabethreid@example.org
69        Michael Oconnell        fdelacruz@example.org
70        Christina Garcia        kathryn18@example.org
72            Morgan Brown           wsmith@example.org
73          Mitchell Smith          spierce@example.com
74          Whitney Garcia      tylergolden@example.com
78         Tabitha Delgado    lancewilliams@example.net
80            David Walker          linda84@example.net
81             Brandi Long            vford@example.com
82         Kristi Calderon         sharon04@example.com
83            Kendra Mason      megancarter@example.com
84           Debbie Romero      nathaniel61@example.net
85     Elizabeth Wilkinson     gailmcdonald@example.org
86           David Randall           cody30@example.net
87             Nancy Irwin      juliaweaver@example.net
88             Joel Martin        bjacobson@example.com
89            Lauren Jones      melissadyer@example.com
91          Ryan Middleton  mcconnellashley@example.net
92            Seth Bradley       melissakim@example.org
93           Alicia Miller         thomas45@example.net
94            Cody Jackson       jamieayers@example.net
96          Elizabeth Ross     richardlewis@example.net
98          Patricia Singh         lramirez@example.org

In [45]:
# Selecting row by Index
print('Row 3:\n',df.iloc[2])
print('\n\n\n Row from 4 and 5:\n',df.iloc[3:5]) # Slicing: Seleceting row from 4 index to 5

# Selecting row by Label

print('\n\n\n Row having Joel Martin :\n',df.loc['Joel Martin'])

Row 3:
 Age                                       26.0
Email                 mayercaitlin@example.org
Country                               Cameroon
Salary                                25660.99
Joining_Date               2023-05-01 00:00:00
Year                                      2023
Months                                       5
Day                                          1
Days_Since_Joining                         372
Name: Jonathan Holland, dtype: object



 Row from 4 and 5:
                    Age                      Email      Country    Salary  \
Name
Kimberly Roberts  76.0        lmiller@example.org  Netherlands  58550.56
Jason Perez       59.0  collinsedward@example.com      Myanmar  20175.11

                 Joining_Date  Year  Months  Day  Days_Since_Joining
Name
Kimberly Roberts   2023-07-08  2023       7    8                 304
Jason Perez        2024-04-11  2024       4   11                  26



 Row having Joel Martin :
 Age                                    76.0
Email                 bjacobson@example.com
Country                               Korea
Salary                                  0.0
Joining_Date            2022-05-23 00:00:00
Year                                   2022
Months                                    5
Day                                      23
Days_Since_Joining                      715
Name: Joel Martin, dtype: object

In [49]:
# Select specific rows and columns using loc and iloc.
print('Selecting Row and Columns:\n\n',df.iloc[5:9][['Country','Salary']])


print('\n\n\n\n Selecting Row and Columns:\n\n',df.loc[['Country','Salary'],'Email']])

Selecting Row and Columns:

                                  Country    Salary
Name
Olivia Strong               South Africa  72362.02
Jessica Rivera  Central African Republic  71261.36
Lauren Becker                      Malta      0.00
Dylan Simpson                     Serbia  59670.50