# Pandas Assignment

In [1]:
import pandas as pd

### Task 1:Load the dataset

In [2]:
df=pd.read_csv(r'messed_dataset.csv')
df

df.head(6)

,Name,Age,Email,Country,Salary,DateOfJoining
0,invalid,59.0,ycastro@example.org,Switzerland,44694.24,2022-09-29
1,David Jefferson,21.0,NaN,China,NaN,2021-10-04
2,Jessica Reyes,34.0,NaN,NaN,60511.62,2022-05-24
3,Kenneth Macdonald,68.0,ewolf@example.com,Italy,84223.29,2022-04-07
4,Julie Horne,78.0,NaN,Ecuador,24665.13,2020-06-19
5,Jonathan Holland,26.0,mayercaitlin@example.org,Cameroon,25660.99,2023-05-01

### Task 2: Basic Data Cleaning

- Identifying the missing data

In [3]:
df.isnull().sum()

Name             11
Age               3
Email            20
Country          14
Salary            6
DateOfJoining    21
dtype: int64

- Dropping the row with missing values

In [4]:
df.dropna(inplace=True)

df

,Name,Age,Email,Country,Salary,DateOfJoining
0,invalid,59.0,ycastro@example.org,Switzerland,44694.24,2022-09-29
3,Kenneth Macdonald,68.0,ewolf@example.com,Italy,84223.29,2022-04-07
5,Jonathan Holland,26.0,mayercaitlin@example.org,Cameroon,25660.99,2023-05-01
7,Kimberly Roberts,76.0,lmiller@example.org,Netherlands,58550.56,2023-07-08
9,Jason Perez,59.0,collinsedward@example.com,Myanmar,20175.11,2024-04-11
10,Olivia Strong,76.0,schultzpatricia@example.com,South Africa,72362.02,2023-07-27
13,Jessica Rivera,73.0,fmitchell@example.net,Central African Republic,71261.36,2021-05-18
15,Lauren Becker,30.0,watsonjeffrey@example.net,Malta,invalid,2020-01-13
20,Dylan Simpson,46.0,jessica74@example.net,Serbia,59670.5,2021-10-31
23,Karen Ward,56.0,daniel47@example.com,Congo,83580.8,2022-04-09
24,Amy Henson,80.0,tylerwatts@example.org,Bosnia and Herzegovina,35390.77,2023-12-11
28,Ricardo Moody,76.0,xmorales@example.net,Bahrain,83514.58,2024-03-29
29,Stephanie Moss,61.0,qvaughan@example.com,Guernsey,35671.38,2021-11-22
35,Rebecca Davis,35.0,wallacejennifer@example.net,Sri Lanka,66871.64,2022-08-06
36,Keith Velazquez,22.0,charles82@example.net,Burkina Faso,81661.97,2024-03-27
37,Christopher Martin,40.0,tina11@example.com,Netherlands Antilles,81367.57,2020-07-30
40,invalid,64.0,mjackson@example.org,British Indian Ocean Territory (Chagos Archipe...,25219.6,2024-02-14
43,James Davis,invalid,teresa22@example.com,Mauritius,54801.7,2021-07-15
44,Brandi White,35.0,mhall@example.net,Tanzania,21408.87,2020-11-26
49,Amber Mendoza,64.0,qrobinson@example.com,Uganda,47293.85,2021-05-27
51,Whitney Graham,40.0,zrodriguez@example.org,Mozambique,98826.59,2023-05-08
52,Patrick Brown PhD,44.0,james16@example.net,Greece,83842.6,2020-07-12
58,Dr. Olivia Caldwell MD,76.0,hernandezjason@example.com,Philippines,78453.84,2023-07-19
59,Diane Smith,57.0,david44@example.net,Saint Barthelemy,86579.95,2020-07-27
60,Thomas Navarro,50.0,psnyder@example.org,Turks and Caicos Islands,86286.69,2020-11-03
61,Terri Phillips,27.0,garyanderson@example.net,Cambodia,47755.97,invalid
64,Andrew Bryant,43.0,jacobtorres@example.com,Colombia,32205.53,2020-10-26
68,Justin Wright,29.0,elizabethreid@example.org,Timor-Leste,28951.24,2020-02-21
69,Michael Oconnell,19.0,fdelacruz@example.org,Grenada,62929.05,2022-01-21
70,Christina Garcia,40.0,kathryn18@example.org,invalid,73916.51,2023-11-13
72,Morgan Brown,79.0,wsmith@example.org,Cape Verde,28583.22,2021-03-12
73,Mitchell Smith,32.0,spierce@example.com,Armenia,57795.75,2021-04-19
74,Whitney Garcia,70.0,tylergolden@example.com,Netherlands Antilles,68794.39,2022-07-23
78,Tabitha Delgado,74.0,lancewilliams@example.net,Sudan,98396.21,2022-04-03
80,David Walker,43.0,linda84@example.net,Guinea-Bissau,89683.17,2021-06-20
81,Brandi Long,45.0,vford@example.com,Ecuador,30773.53,2020-06-29
82,Kristi Calderon,80.0,sharon04@example.com,Iceland,99507.66,2022-07-09
83,Kendra Mason,47.0,megancarter@example.com,Moldova,34369.87,2023-07-09
84,Debbie Romero,58.0,nathaniel61@example.net,Reunion,39875.14,2023-02-11
85,Elizabeth Wilkinson,66.0,gailmcdonald@example.org,Turkmenistan,69624.01,2023-05-19
86,David Randall,74.0,cody30@example.net,Niue,43013.14,2024-05-24
87,Nancy Irwin,42.0,juliaweaver@example.net,Czech Republic,29455.0,2020-07-21
88,Joel Martin,76.0,bjacobson@example.com,Korea,invalid,2022-05-23
89,Lauren Jones,68.0,melissadyer@example.com,Malawi,42435.96,2020-06-12
91,Ryan Middleton,42.0,mcconnellashley@example.net,Bahamas,78048.75,2021-04-05
92,Seth Bradley,76.0,melissakim@example.org,Slovakia (Slovak Republic),49354.13,2021-08-01
93,Alicia Miller,59.0,thomas45@example.net,Mauritania,52834.29,2020-06-03
94,Cody Jackson,48.0,jamieayers@example.net,Luxembourg,55583.62,2021-05-23
96,Elizabeth Ross,52.0,richardlewis@example.net,Equatorial Guinea,29992.69,2020-04-08
98,Patricia Singh,65.0,lramirez@example.org,Greece,85290.44,2020-03-18

In [7]:
#Renaming of column name DateOfJoining to Joining_Date
df.rename(columns={'DateOfJoining':'Joining_Date'},inplace=True)

df

,Name,Age,Email,Country,Salary,Joining_Date
0,invalid,59.0,ycastro@example.org,Switzerland,44694.24,2022-09-29
3,Kenneth Macdonald,68.0,ewolf@example.com,Italy,84223.29,2022-04-07
5,Jonathan Holland,26.0,mayercaitlin@example.org,Cameroon,25660.99,2023-05-01
7,Kimberly Roberts,76.0,lmiller@example.org,Netherlands,58550.56,2023-07-08
9,Jason Perez,59.0,collinsedward@example.com,Myanmar,20175.11,2024-04-11
10,Olivia Strong,76.0,schultzpatricia@example.com,South Africa,72362.02,2023-07-27
13,Jessica Rivera,73.0,fmitchell@example.net,Central African Republic,71261.36,2021-05-18
15,Lauren Becker,30.0,watsonjeffrey@example.net,Malta,invalid,2020-01-13
20,Dylan Simpson,46.0,jessica74@example.net,Serbia,59670.5,2021-10-31
23,Karen Ward,56.0,daniel47@example.com,Congo,83580.8,2022-04-09
24,Amy Henson,80.0,tylerwatts@example.org,Bosnia and Herzegovina,35390.77,2023-12-11
28,Ricardo Moody,76.0,xmorales@example.net,Bahrain,83514.58,2024-03-29
29,Stephanie Moss,61.0,qvaughan@example.com,Guernsey,35671.38,2021-11-22
35,Rebecca Davis,35.0,wallacejennifer@example.net,Sri Lanka,66871.64,2022-08-06
36,Keith Velazquez,22.0,charles82@example.net,Burkina Faso,81661.97,2024-03-27
37,Christopher Martin,40.0,tina11@example.com,Netherlands Antilles,81367.57,2020-07-30
40,invalid,64.0,mjackson@example.org,British Indian Ocean Territory (Chagos Archipe...,25219.6,2024-02-14
43,James Davis,invalid,teresa22@example.com,Mauritius,54801.7,2021-07-15
44,Brandi White,35.0,mhall@example.net,Tanzania,21408.87,2020-11-26
49,Amber Mendoza,64.0,qrobinson@example.com,Uganda,47293.85,2021-05-27
51,Whitney Graham,40.0,zrodriguez@example.org,Mozambique,98826.59,2023-05-08
52,Patrick Brown PhD,44.0,james16@example.net,Greece,83842.6,2020-07-12
58,Dr. Olivia Caldwell MD,76.0,hernandezjason@example.com,Philippines,78453.84,2023-07-19
59,Diane Smith,57.0,david44@example.net,Saint Barthelemy,86579.95,2020-07-27
60,Thomas Navarro,50.0,psnyder@example.org,Turks and Caicos Islands,86286.69,2020-11-03
61,Terri Phillips,27.0,garyanderson@example.net,Cambodia,47755.97,invalid
64,Andrew Bryant,43.0,jacobtorres@example.com,Colombia,32205.53,2020-10-26
68,Justin Wright,29.0,elizabethreid@example.org,Timor-Leste,28951.24,2020-02-21
69,Michael Oconnell,19.0,fdelacruz@example.org,Grenada,62929.05,2022-01-21
70,Christina Garcia,40.0,kathryn18@example.org,invalid,73916.51,2023-11-13
72,Morgan Brown,79.0,wsmith@example.org,Cape Verde,28583.22,2021-03-12
73,Mitchell Smith,32.0,spierce@example.com,Armenia,57795.75,2021-04-19
74,Whitney Garcia,70.0,tylergolden@example.com,Netherlands Antilles,68794.39,2022-07-23
78,Tabitha Delgado,74.0,lancewilliams@example.net,Sudan,98396.21,2022-04-03
80,David Walker,43.0,linda84@example.net,Guinea-Bissau,89683.17,2021-06-20
81,Brandi Long,45.0,vford@example.com,Ecuador,30773.53,2020-06-29
82,Kristi Calderon,80.0,sharon04@example.com,Iceland,99507.66,2022-07-09
83,Kendra Mason,47.0,megancarter@example.com,Moldova,34369.87,2023-07-09
84,Debbie Romero,58.0,nathaniel61@example.net,Reunion,39875.14,2023-02-11
85,Elizabeth Wilkinson,66.0,gailmcdonald@example.org,Turkmenistan,69624.01,2023-05-19
86,David Randall,74.0,cody30@example.net,Niue,43013.14,2024-05-24
87,Nancy Irwin,42.0,juliaweaver@example.net,Czech Republic,29455.0,2020-07-21
88,Joel Martin,76.0,bjacobson@example.com,Korea,invalid,2022-05-23
89,Lauren Jones,68.0,melissadyer@example.com,Malawi,42435.96,2020-06-12
91,Ryan Middleton,42.0,mcconnellashley@example.net,Bahamas,78048.75,2021-04-05
92,Seth Bradley,76.0,melissakim@example.org,Slovakia (Slovak Republic),49354.13,2021-08-01
93,Alicia Miller,59.0,thomas45@example.net,Mauritania,52834.29,2020-06-03
94,Cody Jackson,48.0,jamieayers@example.net,Luxembourg,55583.62,2021-05-23
96,Elizabeth Ross,52.0,richardlewis@example.net,Equatorial Guinea,29992.69,2020-04-08
98,Patricia Singh,65.0,lramirez@example.org,Greece,85290.44,2020-03-18

#### Task 3: Data Analysis

- Data Analysis. Analyse the data by giving the summary statistics, and more information about the data

In [5]:
# identifying the missing data
df.isnull().sum()

Name             0
Age              0
Email            0
Country          0
Salary           0
DateOfJoining    0
dtype: int64

In [6]:
# datatypes identification

df.dtypes

Name             object
Age              object
Email            object
Country          object
Salary           object
DateOfJoining    object
dtype: object

In [8]:
# DataFrame all informatiom
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 98
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          50 non-null     object
 1   Age           50 non-null     object
 2   Email         50 non-null     object
 3   Country       50 non-null     object
 4   Salary        50 non-null     object
 5   Joining_Date  50 non-null     object
dtypes: object(6)
memory usage: 2.7+ KB

In [9]:
# describing the summary statistics of the data
df.describe()

           Name   Age                Email Country   Salary Joining_Date
count        50    50                   50      50       50           50
unique       49    34                   50      48       49           50
top     invalid  76.0  ycastro@example.org  Greece  invalid   2022-09-29
freq          2     6                    1       2        2            1